html[data-theme="dark"] #my-shiki .shiki,
html[data-theme="dark"] #my-shiki .shiki span {
  color: var(--shiki-dark) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

html[data-theme="dark"] #my-shiki .shiki,
html[data-theme="dark"] #my-shiki pre:not(.has-highlighted) > code > span {
  background-color: var(--shiki-dark-bg) !important;
}

#my-shiki pre {
  display: flex;
}

#my-shiki code {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#my-shiki span:empty:before {
  content: "\feff"; /* ZERO WIDTH NO-BREAK SPACE */
}

#my-shiki pre.has-highlighted > code > span:not(.highlighted) {
  opacity: 0.5;
}

#my-shiki pre.has-highlighted:hover > code > span:not(.highlighted) {
  opacity: 1;
}

#my-shiki code .highlighted {
  background-color: var(--highlight-background);
  transition: background-color 0.5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc((100% + 40px));
}
