---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SearchBar from "@components/react/Search";
import getSortedPosts from "@utils/getSortedPosts";
import getSortedLogs from "@utils/getSortedLogs";

// Retrieve all published articles
const posts = await getCollection("blog", ({ data }) => !data.draft);
const logs = await getCollection("log", ({ data }) => !data.draft);

const sortedPosts = getSortedPosts(posts);
const sortedLogs = getSortedLogs(logs);

// List of items to search in
const searchPostList = sortedPosts.map(({ data, slug }) => ({
  title: data.title,
  description: data.description,
  data,
  slug,
}));

const searchLogList = sortedLogs.map(({ data, slug }) => ({
  title: data.title,
  description: data.description,
  data,
  slug,
}));
---

<Layout title={`Search | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle="Search" pageDesc="Search any article ...">
    <SearchBar
      client:load
      searchPostList={searchPostList}
      searchLogList={searchLogList}
    />
  </Main>
  <Footer />
</Layout>
