---
export interface Props {
  noPadding?: boolean;
  ariaHidden?: boolean;
  pageBreak?: boolean;
}

const { noPadding = false, ariaHidden = true, pageBreak = false } = Astro.props;
---

<div
  class={`max-w-3xl mx-auto ${noPadding ? "px-0" : "px-4"} ${pageBreak && "break-before-page print:invisible"}`}
>
  <hr class="border-skin-line" aria-hidden={ariaHidden} />
</div>
